In [1]:
uma_lista=[76, 92.3,'oi','true', 4, 76]
lista=['pitomba', 76]
nome=['cibele','true',4,76]
listaN=[99]
s=[4,76]

#questão A
print(uma_lista[:] + lista)
#questão B
print(uma_lista[0:3]+ nome )
#questão C
print(listaN + uma_lista[:])
#questão D
print(uma_lista[2:3])
#questão F para não exibir true na lista
print(uma_lista[0:3] + s)


# questão E para pedir o índice de oi
indice_0=(uma_lista[0:1])==0==76
indice_1=(uma_lista[1:2])==1==92.3
indice_2= (uma_lista[2:3])==2=='oi'
indice_3= (uma_lista[3:4])==3=='true'
indice_4= (uma_lista[4:5])==4==4
indice_5= (uma_lista[5:])==5==76

pergunta= int(input ('Qual o índice de Oi, em uma lista de elementos com índices de 0 a 5 que não se repetem?'))


if( pergunta == indice_0): 
    
    print('Você errou, tente novamente :( ')

elif ( pergunta == indice_1): 
    print('Você errou, tente novamente :( ')


elif ( pergunta == indice_3): 
    print('Você errou, tente novamente :( ')

elif ( pergunta == indice_4): 
    print('Você errou, tente novamente :( ')

elif ( pergunta == indice_5): 
    print('Você errou, tente novamente :( ')

else:
     
    print('Você acertou, 2 é o índice de oi', (uma_lista[2:3]) )

[76, 92.3, 'oi', 'true', 4, 76, 'pitomba', 76]
[76, 92.3, 'oi', 'cibele', 'true', 4, 76]
[99, 76, 92.3, 'oi', 'true', 4, 76]
['oi']
[76, 92.3, 'oi', 4, 76]
Você acertou, 2 é o índice de oi ['oi']

In [2]:
tupla_nomes=('Marlene', 'Zezinho','Marlene','Cibele','Suely')
tupla_nomes.count('Marlene')
print (tupla_nomes.count('Suely'))
print (tupla_nomes.count('Zezinho'))

1
1

In [3]:
tupla_nomes=('1','2','2','3','4','4','4')
tupla_nomes.count('4')
print (tupla_nomes.count('4'))

3

In [ ]:
dicio={'chave':'valor'}
print(type(dicio))

In [4]:
d={'laranjas':15, 'bananas': 35, 'siringuela':12}
d['bananas']

35

In [6]:
d['pitomba']=20
len(d)
print(d)

{'laranjas': 15, 'bananas': 35, 'siringuela': 12, 'pitomba': 20}

In [7]:
'pitomba' in d

True

In [8]:
'pears' in d

False

In [9]:
del d['laranjas']
'laranjas' in d

False

In [11]:
frutas= ["pinha", "oiti coró", "jaca", "tamarindo"]
print([1,2] + [3,4])
print(frutas+[6,7,8,9])

print([0]*4)
print([1,2,["Oi","Tchau"]]*2)

[1, 2, 3, 4]
['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]
[0, 0, 0, 0]
[1, 2, ['Oi', 'Tchau'], 1, 2, ['Oi', 'Tchau']]

In [14]:
minha_lista=[]
minha_lista.append(5)
minha_lista.append(27)
minha_lista.append(3)
minha_lista.append(12)
print(minha_lista)

[5, 27, 3, 12]

In [17]:
minha_lista.insert(1,12)
print(minha_lista)
print(minha_lista.count(12))

print(minha_lista.index(3))
print(minha_lista.count(5))

[5, 12, 27, 3, 12]
2
3
1

In [18]:
minha_lista.reverse()
print(minha_lista)
minha_lista.sort()
print(minha_lista)
minha_lista.remove(5)
print(minha_lista)

[12, 3, 27, 12, 5]
[3, 5, 12, 12, 27]
[3, 12, 12, 27]

In [19]:
ultimo_item=minha_lista.pop()
print(ultimo_item)
print(minha_lista)

27
[3, 12, 12]